.create-post{
    padding-bottom: 0.85em;
}

.submit-form-btn{
    border: none;
    background-color: white;
    color: navy;
    font-weight: bold;
}

.post-title{

    color: navy;
    font-weight: bold;
}