@import './properties';


.card {
    border: 1px solid $border-color-grey;
    background-color: $background-white;
    margin-bottom: 3.5em;
    border-radius: 3px;
  
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75em;
  
      .profile {
        margin-bottom: 0;
      }
  
      .cardButton {
        height: 30px;
  
        &:hover {
          cursor: pointer;
        }
      }
    }
  
    .cardImage {
      width: 100%;
      display: block;
    }
  
    .likedBy {
      display: flex;
      padding-left: 1em;
  
      span {
        font-size: 0.75em;
        margin-left: 0.5em;
        padding-top: 0.5em;
      }
    }
  
    .comments {
      margin-bottom: 0.75em;
      padding-left: 2px;
    }
  
    .timePosted {
      font-size: 0.6em;
      padding-left: 2em;
      padding-bottom: 1em;
      color: $font-color-secondary;
      border-bottom: 1px solid $border-color-grey-secondary;
    }
  
    .addComment {
      display: flex;
      justify-content: space-between;
      font-size: 0.85em;
      padding: 1.5em 1.25em;
  
      .commentText {
        color: $font-color-secondary;
      }
  
      .postText {
        color: $link-color-secondary;
      }
    }
  }
  .viewcomments{
    border: none;
    background-color: white;
    color: navy;
    font-weight: bold;
    padding-left: 1.5em;
  }
  .comment-form{
    height: 15px;
    width: 450px;
    margin-left: 60px;
    border-radius: 20px;
    margin-top: 10px;
  }

  .post-btn{
    display: block;
    text-align: center;
    float: right;
   margin-right: 10px;
   margin-top: 14px;
   border: none;
   color: navy;
   background-color: white;
   font-weight: bold;
   
  }
  .collapse-btn{
    border: none;
    background-color: white;
    color: navy;
    font-weight: bold;
    padding-left: 1.5em;
  }


  .description{
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 0.87em;
  }






  @media only screen and (max-width: 640px) {
    .card {
      border: none;
      background-color: $background-grey;
      margin-bottom: 0.75em;
  
      .addComment {
        display: none;
      }
  
      .timePosted {
        border: none;
      }
    }
  }