.create-post{
    padding-bottom: 0.85em;
    color: rgb(197, 191, 191);
}

.submit-form-btn{
    border: none;
    background-color: rgb(88, 98, 159);
    color:rgb(194, 190, 190);
    font-weight: bold;
    cursor: pointer;
    
    
}
.submit-form-btn:hover{
    color: white;
}

.post-title{

    color: rgb(194, 190, 190);
    font-weight: bold;
}

.post-form{
    padding-right: 9px;
    margin-right: 8px;
    font-family: 'Montserrat', sans-serif;
}

.desc-form{
  
    font-family: 'Montserrat', sans-serif;
}